/* Mauve #A1123A */

@font-face {
  font-family: "Orbitron", sans-serif;
}

.logo {
  width: 80px;
}

nav {
  float: right;
  font-family: "Orbitron";
}

li {
  display: inline;
  padding: 5px;
}

p {
  font-family: "Orbitron", sans-serif;
}
a:link {
  color: black;
}

a:visited {
  color: #a1123a;
}
.dailyImg {
  width: 100%;
  height: auto;
}

.dateContainer {
  margin: auto;
  font-family: "Orbitron";
  text-align: center;
}

#contactForm {
  color: #a1123a;
  font-family: "Orbitron";
}

form {
  width: 150px;
  margin: auto;
}
.form-error {
  display: none;
  color: red;
  font-size: 15px;
  font-family: "Orbitron";
}

h1 {
  font-size: 20px;
}

.twitterFeed {
  width: 300px;
  float: right;
  padding: 20px;
}

.linkContainer {
  display: inline-flex;
  flex-grow: 2;
  flex-flow: column wrap;
  padding: 10px;
}

.item {
  padding: 10px;
}

.heading {
  float: left;
}

.element {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 50px;
  border-style: solid;
}

h1 {
  text-align: center;
  font-family: "Orbitron";
  padding-top: 20px;
}

nav .current {
  color: black;
}

.element {
  width: 300px;
}
/* Media queries */
@media only screen and (min-width: 280px) and (max-width: 767px) {
  .element {
    width: 200px;
  }
  .container {
    padding-top: 100px;
  }
  .thumbnail {
    width: 200px;
    border-radius: 50px;
  }

  li {
    display: inline-block;
  }
  .twitterFeed {
    margin: auto;
    width: 250px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    padding-top: 30px;
  }

  .thumbnail {
    width: 300px;
    border-radius: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .thumbnail {
    width: 300px;
    border-radius: 50px;
  }
}

/* Footer styles */
